#tf-menu ul li {
    font-family: 'Roboto', sans-serif;
}

h1.main-logo {
    font-family: 'Stardos Stencil', cursive;
    font-weight: bold;
    font-size: 45px;
}

a.info:after {

    content: " ";
    font-size: 24pt;
    text-align: center;
    line-height: 42px;
    color: #fff;
    float: left;
    position: relative;
    background: url(../img/phone.png);
    top: -2px;
    left: -2px;
    display: block;
    height: 24px;
    width: 25px;

}


.hidden_logo {
    position: absolute;
    left: -9999px;
}

a.tl-logo {
    font-family: 'Stardos Stencil', cursive;
    font-weight: bold;
    padding-left: 150px;
    position: relative;
}

a.tl-logo:after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: " ";
    display: block;
    width: 150px;
    height: 150px;
    background-image: url("../img/TL_LOGO.png");
    transition: all 0.5s;
}

@media (max-width: 768px) {
    a.tl-logo:after {
        width: 60px;
        height: 60px;
        background-image: url("../img/TL_LOGO_mini.png");
        transition: all 0.5s;
    }
}

a.logo_off:after {
    content: none;
}

span.logo_on {
    left: 0px;
}

a.tl-logo {
    font-family: 'Stardos Stencil', cursive;
    font-weight: bold;
    padding-left: 120px;
    position: relative;
}

.nav > li > a {
    padding: 10px 10px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

div.container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px ;
}

div.container small em {
    font-size: 165%;
    font-family: 'Roboto', sans-serif;
}

.focus-box .service-icon {
    margin-bottom: 30px;
    overflow: hidden;
    width: 145px;
    height: 145px;
    margin: auto;
    /* border-radius: 50%; */
    border: 4px solid #fcac45;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    /* transition: all 0.2s ease-in-out; */
}

.row .focus-box:nth-child(4n+1) .service-icon:hover {
    border: 4px solid #e83922;
    border-radius: 10%;
}

.row .focus-box:nth-child(4n+2) .service-icon:hover {
    border: 4px solid #34d293;
    border-radius: 10%;
}

.focus-box:nth-child(4n+3) .service-icon:hover {
    border: 4px solid #3ab0e2;
    border-radius: 10%;
}

.focus-box:nth-child(4n+4) .service-icon:hover {
    border: 4px solid #f7d861;
    border-radius: 10%;
}

.focus-box h5 {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    float: none;
    width: auto;
}

.red-border-bottom:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #e96656;
    bottom: -9px;
    left: 12.5%;
}

.focus .focus-box:nth-child(4n+1) .red-border-bottom:before {
    background: #e83922;
}

.focus-box:nth-child(4n+2) .red-border-bottom:before {
    background: #34d293;
}

.focus-box:nth-child(4n+3) .red-border-bottom:before {
    background: #3ab0e2;
}

.focus-box:nth-child(4n+4) .red-border-bottom:before {
    background: #f7d861;
}

.container .row .focus-box {
    display: inline-block;
    float: none!important;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 25px;
}

/* Стили логотипов */

span.logo-responsive {
    display: block;
    width: 100%;
    height: 100%;
}

span.js-logo {
    background:url('../img/logo/jung-137x137_img.png') no-repeat center;
}

span.ge-logo {
    background:url('../img/logo/general-electric-130x130_img.png') no-repeat center;
}

span.mitsubishi-logo {
    background:url('../img/logo/mitsubishi-137x137_img.png') no-repeat center;
}

span.zapi-logo {
    background:url('../img/logo/zapi-137x137_img.png') no-repeat center;
}

span.toyota-logo {
    background:url('../img/logo/toyota-137x137_img.png') no-repeat center;
}

span.linde-logo {
    background:url('../img/logo/linde-137x137_img.png') no-repeat center;
}

span.cat-logo {
    background:url('../img/logo/caterpilar-137x137_img.png') no-repeat center;
}

span.curtis-logo {
    background:url('../img/logo/curtis-137x137_img.png') no-repeat center;
}

span.still-logo {
    background:url('../img/logo/still-137x137_img.png') no-repeat center;
}

span.nichiyu-logo {
    background:url('../img/logo/nichiyu-137x137_img.png') no-repeat center;
}

span.hyster-logo {
    background:url('../img/logo/hyster-137x137_img.png') no-repeat center;
}

span.sauer-logo {
    background:url('../img/logo/sauer-137x137_img.png') no-repeat center;
}

span.hamatysi-logo {
    background:url('../img/logo/hamatusi-137x137_img.png') no-repeat center;
}

span.danaher-logo {
    background:url('../img/logo/danaher-137x137_img.png') no-repeat center;
}

/* Header текст в шапке */

div.header-text {
    padding: 16% 0 0;
}

.btn-tl {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 175px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px ;
}

.btn-tl:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
}

.btn-3tl {
    background: #fcad26;
    color: #fff;
}

.btn-3tl:hover {
    background: #f29e0d;
}

.btn-3tl:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.btn-3etl {
    padding: 15px 110px 15px 15px;
    overflow: hidden;
    opacity: 0.9;
}

.btn-3etl:hover {
    color: #FFFFFF;
}

.btn-3etl:hover:after {
    width: 0%;
}

.icon-arrow-right:before {
    content: "";
    background:url(../img/C70.png) no-repeat;
    background-position: -84px 0px;
}

.btn-3tl:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 4px;
    line-height: 3;
    font-size: 140%;
    width: 70px;
    transition: all 1.3s;
}

.btn-3tl:hover:before {
    background-position: 5px 0px;
}



.btn-3etl:after {
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,0.3);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3etl:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

div.thumbnail img.zs-img {
    width: 190px;
    height: 190px;
    border-radius: 4px;
}

div.on_text {
    text-align: left;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
}

p.on_p {
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
}

p.on_p span {
    display: inline-block;
    height: 25px;
    width: 15px;
}

p.on_title {
    position: absolute;
}

img.on_img {
    margin: 12px 0 0 0;
    border-radius: 4px ;
}
.hidden_box{
    opacity:0;
}
.visible_box{
    opacity:1;
}

.visible_box_bootom{
    opacity:0.8;
}